.item {
  padding: 0;
  margin: 0px 6px 6px 6px;
  background-color: rgb(255, 255, 255);
  border-width: thick;
  list-style-type: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;

  padding: 4px 10px 4px 10px;
  
}

.item p {
  text-align: left;
  font-size: 0.9rem;
  padding: 0;
  margin: 4px 0 4px 0;

}


