.adsk-viewing-viewer {
  background: none !important;
  /* background-color: rgb(33, 33, 33) !important; */
  width: 100%;
  height: 90%;
  /* overf0ow: auto; */
  /* align-self: center; */
  padding: 0;
  margin: 0;
  z-index: -1;
}

/* .adsk-viewing-viewer canvas {
  width: 80% !important;
  height: 90%;
} */
